/* lastmod 2013-08-15 23:47 + 02:00 */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	background: #f9f9f9;
}

body {
	text-align: left;
}

h1 {
	display: none;
}

#box {
	width: 256px;
	border-radius: 4px;
	margin: 128px auto;
	border: 1px solid #333;
	box-shadow: 0 1px #fff, inset 0 1px #fff;
}

p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
	font-size: 13px;
	line-height: 13px;
	text-shadow: 0 1px #fff;
	font-style: normal;
	display: block;
	padding: 13px;
	border-top: 1px solid #333;
	box-shadow: inset 0 1px #fff;
}

h1 + p {
	border-top: none;
	box-shadow: none;
}

p strong {
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}

p em {
	font-style: normal;
}

p em:before {
	content: "→ ";
}

p, p a {
	color: #333;
}

a:hover {
	color: #33f;
}

a:active {
	color: #f33;
}