* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	background: #f9f9f9;
	line-height: 1.61em;
	font-size: 80%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}

body {
	text-align: center;
}

h1 {
	display: none;
}

#box {
	display: inline-block;
	min-width: 300px;
	text-align: left;
	border-radius: 4px;
	margin: 4rem 0 4rem 0;
	border: 1px solid #888;
}

p {
	padding: 1em;
	border-top: 1px solid #888;
	overflow: auto;
}

h1 + p {
	border-top: none;
	box-shadow: none;
}

p strong {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

p em {
	display: block;
	font-style: normal;
	color: #888;
}

p em:before {
	content: "";
	color: #333;
}

p a {
	color: #333;
	text-decoration: underline;
}

p em a {
	color: #888;
}

a:hover {
	color: #00f;
}

a:active {
	color: #f00;
}

@media screen and (min-width: 800px) {

	p strong {
		display: block;
		float: left;
		margin-right: 2em;
	}

	p em {
		display: block;
		float: right;
	}

}